* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border-style: none;
}

nav {
  background-color: #d9d9d9;
  height: 80px;
  width: 100%;
}

.enlace {
  position: absolute;
}

.logo {
  width: 80px;
  height: 80px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 5px;
  text-transform: uppercase;
}

li a:hover {
  background: rgb(113, 113, 117);
  transition: 0.5s;
}

.checkbtn {
  font-size: 40px;
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.banner {
  width: 100%;
  display: flex;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 5rem;
  gap: 6rem;
  background-color: #07393c;
}

.producto {
  width: 220px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.producto img {
  border-radius: 30px;
}

.producto button {
  width: 85px;
  height: 34px;
  border-radius: 10px;
  cursor: pointer;
}

.producto button:hover {
  background: rgb(64, 64, 68);
  transition: 0.5s;
}

.botones {
  display: flex;
  justify-content: space-between;
}

.productosx3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5rem;
  justify-content: center;
  gap: 6rem;
  background-color: #07393c;
}

.productosx3juntos img {
  width: 302px;
  height: 250px;
  border-color: black;
  border-radius: 15px;
}

.productx3-txt {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #2c666e;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  gap: 3rem;
}

.footercomponentes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 13rem;
}

.footer-logos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  width: 25px;
  height: 25px;
  margin-top: 20px;
}

.pagos {
  width: 170px;
  height: auto;
}

@media (max-width: 600px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(122, 122, 122);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    border-radius: 5px;
  }
  li a:hover {
    background: none;
    color: red;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .productosx3juntos img {
    width: 220px;
    height: 220px;
  }
  .footercomponentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
  }
}
